* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.header {
  left: 0;
  top: 0;
  width: 100%;
  background-color: #243238;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
}

.nav__item {
  text-decoration: none;
  padding-right: 15px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.headAuth {
  text-decoration: none;
  color: #FFFFFF;
}

.siteSection {
  background-color: #f09c00;
  left: 0;
  top: 0;
  width: 100%;
}

.navbar-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 7px;
  padding-top: 3px;
  width: 1200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.navbar-search {
  width: 100%;
  margin-left: 30px;
}

.navbar-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar-searchCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar-searchCart__form {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.navbar-searchCart__cart {
  margin-left: 30px;
}

.navbar-bottom {
  border-top: 1px solid #d07d24;
}

.navbar-bottom__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1200px;
  min-height: 62px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.search__input {
  border: none;
  border-radius: 28px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 16px;
  height: 56px;
  padding: 2px 17px;
  position: relative;
  width: 100%;
}

.search__button {
  position: absolute;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 42px;
  padding: 6px 0 0 33px;
  position: relative;
  text-decoration: none;
}

.slider-image {
  width: 100%;
  height: 508px;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainArticle-catalog {
  text-decoration: none;
}

.mainArticle-catalog__items {
  margin-top: 12px;
}

.button__catalog {
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  background-color: #666666;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  padding: 16px 27px 16px 28px;
}

.item {
  text-decoration: none;
  color: #000;
}

.footer-top {
  background: #f8a622;
  margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-top__copy {
  text-align: center;
}

.footer-top__text {
  margin: 0;
}

.footer-bottom {
  background: #243238;
  color: #fff;
}

.footer-bottom__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=style.css.map */